#splash-page-container {
   height: 100vh;
   min-height: 615px;
   /* background: linear-gradient(rgb(246, 199, 73) 60px, rgb(32, 33, 37) 92vh); */
   display: grid;
   grid-template-rows: 60px auto 60px;
   grid-template-columns: 1fr 1fr;
   grid-template-areas:
   'nav-bar nav-bar'
   'splash-image splash-content'
   'external-links external-links';
}

.splash-nav-container {
   grid-area: nav-bar;
   justify-self: center;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.splash-nav-bar {
   width: 80%;
   max-width: 950px;
}

.splash-nav-bar ul {
   list-style: none;
   justify-self: center;
   display: flex;
   justify-content: space-between;
   height: 60px;
   align-items: center;
}

#splash-nav-left {
   display: flex;
   align-items: center;
   gap: 10px;
}

#splash-nav-right {
   display: flex;
   align-items: center;
   gap: 10px;
}

.login-form-page-container {
   display: flex;
   justify-content: center;
}

.login-form-container {
   position: fixed;
   top: 200px;
   height: 250px;
   width: 600px;
   background-color: rgb(55, 56, 62);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
   border-radius: 5px;
}

.splash-nav-btn {
   background-color: rgb(90, 100, 234);
   border: 1px solid rgb(90, 100, 234);
   color: white;
   border-radius: 60px;
   padding: 8px 10px;
   cursor: pointer;
   justify-self: center;
   transition-duration: .25s;
}

.splash-nav-btn:hover{
   color: black;
   background-color: rgb(235, 235, 235);
   border: 1px solid rgb(90, 100, 234);
   box-shadow:0 3px 3px 1px rgba(0,0,0,0.1);
}

#demo-btn {
   background-color: rgb(217, 82, 157);
   border: 1px solid rgb(217, 82, 157);
}

#demo-btn:hover {
   background-color: rgb(235, 235, 235);
}

.splash-img-container {
   height: 500px;
   width: 500px;
   grid-area: splash-image;
   align-self: center;
   justify-self: center;
}

#splash-logo {
   height: 50px;
   width: 50px;
   /* border: 1px rgb(32, 33, 37); */
}

#logo-title {
   color: rgb(90, 100, 234);
   font-size: 36px;
   font-style: oblique;
   font-weight: bold;
   text-shadow: -1px 1px 0 rgb(53, 53, 53),
   1px 1px 0 rgb(53, 53, 53),
   1px -1px 0 rgb(53, 53, 53),
   -1px -1px 0 rgb(53, 53, 53);
}

#external-links-container {
   grid-area: external-links;
   width: 100%;
   align-self: center;
}

.splash-footer-li a {
   display: flex;
   align-items: center;
   gap: 5px;
   justify-self: center;
}

.splash-footer-container {
   grid-area: external-links;
   justify-self: center;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.splash-content-container {
   grid-area: splash-content;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 30px;
   width: 400px;
}

#splash-tagline {
   color: rgb(90, 100, 234);
   text-shadow: -1px 1px 0 rgb(32, 33, 37),
   1px 1px 0 rgb(32, 33, 37),
   1px -1px 0 rgb(32, 33, 37),
   -1px -1px 0 rgb(32, 33, 37);
   font-size: 80px;
   font-weight: bold;
   line-height: 70px;
}

#splash-phrase {
   color: rgb(90, 100, 234);
   font-weight: bold;
}
