#create-message-form-parent-container {
   padding-left: 10px;
   padding-right: 10px;
}

.create-message-form-input {
   width: 100%;
   height: 40px;
   border: none;
   padding: 5px;
   border-radius: 5px;
   background-color: rgb(64, 68, 74);
}

.create-message-form-input:focus {
   outline: none;
}
