.channels-container {
   padding: 15px 10px;
}

#channel-title-div {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 35px;
}

#channel-title-div span{
   font-weight: bold;
   color: white;
}

.AddIcon {
   cursor: pointer;
}

.AddIcon:hover {
   fill: white;
}

.single-channel-name-div {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 30px;
   border-radius: 3px;
   transition-duration: .05s;
}

.single-channel-name-div svg {
   visibility: hidden;
   transition-duration: .05s;
}

.single-channel-name-div:hover {
   background-color: rgba(245, 245, 245, 0.1);
}

.single-channel-name-div:hover svg {
   visibility: visible;
}


.single-channel-name-div:hover {
   background-color: rgba(245, 245, 245, 0.1);
}


.settings-icon:hover {
   fill: white;
}
